main {
	position: relative;
	flex: 1;
	width: 100%;
	padding: 10px;
	background-color: var(--white);
	box-shadow: inset 0 0 5px var(--fade);
  overflow-y: scroll;
}

.cards {
	position: relative;
	width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
	position: relative;
	height: 300px;
	width: 300px;
	border: 2px solid var(--orange);
	border-radius: 20px;
	background-color: var(--white);
	overflow: hidden;
	box-shadow: 0 0 5px var(--fade);
	cursor: pointer;
	transition: transform 0.3s ease, opacity 0.3s;
	&:hover {
		transform: translateY(-5px);
	}
}

.dog {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
  pointer-events: none;
}

.info {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
	text-wrap: wrap;
	background: linear-gradient(to top, #222222, #00000010);
}

.location {
	font-size: 12px;
	font-weight: 500;
	color: var(--gray);
}

.name {
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
	color: var(--white);
}

.about {
	font-size: 14px;
	color: var(--gray);
}

.tags {
	margin-top: 5px;
	display: flex;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}

.tag {
	padding: 5px 10px;
	font-size: 10px;
	border-radius: 2rem;
	text-transform: capitalize;
	color: var(--white);
	background-color: var(--orange);
}