header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 5vw;
  background-color: var(--white);
}

.logo {
  width: 30px;
  height: auto;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header-icon {
  font-size: 20px;
  color: var(--black);
  cursor: pointer;
}

.overlay {
  position: absolute;
  height: 100dvh;
  width: 100vw;
  display: none;
  z-index: 8888;
}

.notification {
  position: absolute;
  top: 55px;
  left: 10px;
  height: 400px;
  width: 300px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--fade);
  color: var(--orange);
  background-color: var(--white);
  z-index: 99999;
  img {
    mix-blend-mode: multiply;
  }
}

details {
  position: relative;
  ul {
    position: absolute;
    right: 0;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--fade);
    background-color: var(--white);
    z-index: 8888;
    li{
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}