header {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 5vw;
  background-color: var(--white);
}

.logo {
  width: 30px;
  height: auto;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header-icon {
  font-size: 20px;
  color: var(--black);
}
