main {
	position: relative;
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	background-color: var(--white);
	box-shadow: inset 0 0 5px var(--fade);
	transition: display 0.3s ease;
}

main:has(input) {
	display: none;
}

.toast {
	position: absolute;
	top: 10px;
	right: -500px;
	width: 70%;
	padding: 10px;
	border-radius: 5px;
	font-size: 12px;
	color: var(--white);
	background-color: var(--green);
	transition: right 0.5s ease;
	z-index: 888;
}

.card {
	position: relative;
	height: 300px;
	width: 300px;
	border: 2px solid var(--orange);
	border-radius: 20px;
	background-color: var(--white);
	overflow: hidden;
	box-shadow: 0 0 5px var(--fade);
	cursor: grab;
	transition: transform 0.3s ease, opacity 0.3s;
	&:hover {
		transform: translateY(-5px);
	}
}

.dog {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
  pointer-events: none;
}

.info {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
	text-wrap: wrap;
	background: linear-gradient(to top, #222222, #22222280, #00000000);
}

.location {
	font-size: 12px;
	font-weight: 500;
	color: var(--gray);
}

.name {
  font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
	color: var(--white);
}

.sub-heading {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--black);
}

.about {
	font-size: 14px;
	color: var(--black);
}

.tags {
	margin-top: 5px;
	display: flex;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}

.tag {
	padding: 5px 10px;
	font-size: 10px;
	border-radius: 2rem;
	text-transform: capitalize;
	color: var(--white);
	background-color: var(--orange);
}

.btn {
  flex: 1;
	font-size: 14px;
  border: none;
	border-radius: 10px;
	text-transform: capitalize;
	color: var(--white);
	background-color: var(--orange);
  cursor: pointer;
}

.back-btn {
	padding: 2px;
	font-size: 14px;
  border: 1px solid var(--orange);
	border-radius: 10px;
	text-transform: capitalize;
	color: var(--orange);
	background-color: var(--white);
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.4s ease;
  &:hover {
    color: var(--white);
    background-color: var(--orange);
  }
}

.pfp-box {
	display: flex;
	gap: 10px;
	li{
		font-size: 12px;
		font-weight: 500;
		color: var(--green);
	}
}

.upload {
  height: 50px;
  width: 50px;
	flex-shrink: 0;
	display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted var(--orange);
  border-radius: 10px;
  color: var(--orange);
  background-color: var(--white);
  &:hover {
    background-color: var(--gray);
  }
}

.instruction {
	font-size: 10px;
	color: var(--green);
	margin-bottom: 5px;
}

input {
	width: 100%;
	padding: 5px 10px;
	border: 1px solid var(--orange);
	border-radius: 5px;
	font-size: 14px;
	color: var(--black);
	&:focus {
		outline: none;
	}
}